# This file defines code ownership in Dynamic Dispatch.
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

/include/op_fuser/ @abidk @namalr @tsiddaga
/include/utils/ @abidk @namalr @tsiddaga
/include/xrt_context/ @abidk @namalr @tsiddaga
/src/fusion_rt/ @abidk @namalr @tsiddaga
/src/passes/ @abidk @namalr @tsiddaga
/src/python/ @abidk @namalr @tsiddaga
/src/txn/ @abidk @namalr @tsiddaga
/src/txn_helper/ @abidk @namalr @tsiddaga
/src/utils/ @abidk @namalr @tsiddaga
/tools/ @abidk @namalr @tsiddaga
